@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
};
.font-inter { font-family: 'Inter', ui-sans-serif, system-ui, sans-serif; }
.font-roboto { font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif; }
.font-open { font-family: 'Open Sans', ui-sans-serif, system-ui, sans-serif; }
.font-montserrat { font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif; }
.font-nunito { font-family: 'Nunito', ui-sans-serif, system-ui, sans-serif; }
.font-source { font-family: 'Source Sans Pro', ui-sans-serif, system-ui, sans-serif; }
.font-ibm { font-family: 'IBM Plex Sans', ui-sans-serif, system-ui, sans-serif; }
.font-space { font-family: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif; }
.font-serif { font-family: 'Merriweather', serif; }
.font-mono { font-family: 'Fira Mono', ui-monospace, SFMono-Regular, monospace; }
.font-poppins { font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif; }
.font-lato { font-family: 'Lato', ui-sans-serif, system-ui, sans-serif; }
.font-raleway { font-family: 'Raleway', ui-sans-serif, system-ui, sans-serif; }
.font-ubuntu { font-family: 'Ubuntu', ui-sans-serif, system-ui, sans-serif; }
.font-muli { font-family: 'Muli', ui-sans-serif, system-ui, sans-serif; }
.font-work { font-family: 'Work Sans', ui-sans-serif, system-ui, sans-serif; }
.font-nunitosans { font-family: 'Nunito Sans', ui-sans-serif, system-ui, sans-serif; }
.font-quicksand { font-family: 'Quicksand', ui-sans-serif, system-ui, sans-serif; }
.font-rubik { font-family: 'Rubik', ui-sans-serif, system-ui, sans-serif; }
.font-firasans { font-family: 'Fira Sans', ui-sans-serif, system-ui, sans-serif; }
